<h1>所有商品</h1>

<table>
  <thead>
    <tr>
      <th>名稱</th>
      <th>原價</th>
      <th>售價</th>
      <th>庫存</th>
      <th>狀態</th>
      <th>圖片</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <!-- 前端處理價格邏輯 -->
        <td><%= (product.price * 0.7).round %></td>
        <td><%= product.stock %></td>
        <td><%= product_status_zh(product.status) %></td>
        <td>
          <% product.product_images.each do |product_image| %>
            <%= image_tag(product_image.image.thumb.url, height: 100) if product_image.image.present? %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>